.card {
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid var(--grayLighter);
    width: 12.5%;
    margin: 5px;
    background-color: var(--white);
}

.card-container-types {
    display: flex;
    justify-content: center;
}

.card-container-types p {
    margin-right: 2px;
    border: 1px solid;
    border-color: var(--grayLighter);
    padding: 5px;
}

.card-container {
    text-align: center;
}

@media (min-width: 480px) {
    .card {
        padding: 4px 40px;
    }
}